.monitor-container{
    width: 100%;
}

.heading-monitor{
    font-size: 20px;
    background-color: white;
    font-weight: 700;
}

.status-div{
    display: flex;
    flex-direction: column;
}

.types{
    display: flex;
    align-items: center;


}
.type-h{
    font-size: "20px";
}
